
2017-11-03_Price-Comparison\.csv

Excel/

Output/

Archiv/

Article_Matching_v0\.1\.py

*.xml

*.csv

Price-Comparison\.xlsx

Price-Comparison\.csv

Price-Analysis_Backup\.csv

Price-Analysis\.csv

Price-Analysis\.xlsx

Price-Analysis2\.csv

Price-Comparison-Table\.xlsx
